.menu a.active {
  background: skyblue;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.iboardList {
  display: grid;
  /* 3개의 열(column)을 동일한 너비(1fr)로 설정합니다. */
  grid-template-columns: repeat(3, 1fr);
  /* 열 사이의 간격을 설정합니다. */
  grid-gap: 20px;
  /* 반응형을 위해 최대 너비를 설정할 수 있습니다. */
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
